<div class="minheight">
    <h1 style="text-align: center; margin: 30px;">{{'ERROR.Infoh1' | translate }}</h1>
    <h2 style="text-align: center; margin: 30px;">{{'ERROR.Infoh2' | translate }}</h2>
    <div style="width: 50%; margin: 0 auto">
        <img src="assets/404-error-not-found.png" class="shadow" alt="404. Страница не найдена...."
            style="width: 100%; padding: 15px; background-color: white; transform: rotate(-10deg); margin-top: 50px; margin-bottom: 20px;">
    </div>

</div>