<div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
    <!-- <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>-->
    <h1 class="text-white mb-4"> {{'PROVIDER.PROVIDERADD.HEADER.Header' | translate }}</h1>


    <form [formGroup]="form" (ngSubmit)="addProvider()">
        <div class="row g-3">
            <div class="col-12">
                <label>{{'PROVIDER.PROVIDERADD.HEADER.Name' | translate }}</label>

                <input id="name" type="text" name="name" formControlName="name" class="form-control"
                    placeholder="{{'PROVIDER.PROVIDERADD.INPUT_PROVIDERADD_PLACEHOLDER.Name' | translate}}">

                <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    <span class="error-message" *ngIf="form.controls['name'].errors?.['required']">
                        {{'PROVIDER.PROVIDERADD.SPAN.NameEmpty'
                        | translate }}</span>
                </div>
            </div>
            <div class="col-12">
                <label>{{'PROVIDER.PROVIDERADD.HEADER.Email' | translate }}</label>
                <input id="email" type="email"
                    placeholder="{{'PROVIDER.PROVIDERADD.INPUT_PROVIDERADD_PLACEHOLDER.Email' | translate}}"
                    formControlName="email" class="form-control">

                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                    <span class="error-message"
                        *ngIf="form.controls['email'].errors?.['email']">{{'PROVIDER.PROVIDERADD.SPAN.EmailСorrect' |
                        translate }}</span>
                </div>
            </div>
            <div class="col-12">
                <!--       <input type="tel" formControlName="phone" id="phone" class="form-control" placeholder="+38(000)000-000"
                                prefix="+38(0" mask="00)-000-00-00" style="margin-bottom: 20px;">-->
                <div>
                    <label>{{'PROVIDER.PROVIDERADD.HEADER.Phone' | translate }}</label>
                    <input formControlName="phone" placeholder="+380 XXX XX-XX-XX" class="form-control"
                        mask=" (000) 000-00-00" prefix="+38" type="tel" [showMaskTyped]="true">
                </div>
                <div style="color:red"
                    *ngIf="this.form.controls['phone'].invalid && this.form.controls['phone'].touched">
                    <span class="error-message" *ngIf="this.form.controls['phone'].errors?.['required']">
                        {{'PROVIDER.PROVIDERADD.SPAN.PhoneEmpty'
                        | translate }} </span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'PROVIDER.PROVIDERADD.HEADER.Other' | translate }}</label>
                <textarea id="other" type="text" name="other" formControlName="other" class="form-control"
                    placeholder="{{'PROVIDER.PROVIDERADD.INPUT_PROVIDERADD_PLACEHOLDER.Other' | translate}}">
                </textarea>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" style="margin-right: 70px;"
                    [disabled]="form.invalid || form.disabled"
                    type="submit">{{'EMPLOYEE.EMPLOYEEADD.BUTTON_EMPLOYEEADD.Save' | translate }}</button>
            </div>

        </div>
    </form>

</div>