<!-- Navbar & Hero Start -->
<nav class="navbar" style="background-color: #0F172B;">
    <div class="container-fluid">
        <a>
            <h1 class="navbar-brand p-0 text-primary" style="font-size: 40px; margin-left: 200px;">AnySell</h1>
        </a>
        <form class="d-flex" role="search">
            <button style="float: right;margin: 15px;" (click)="changeSiteLanguage('en')" translate href=""
                class="btn btn-primary py-2 px-4">BUTTON.LANG.EN</button>
            <button style="float: right; margin: 15px;" (click)="changeSiteLanguage('ru')" translate href=""
                class="btn btn-primary py-2 px-4">BUTTON.LANG.RU</button>
            <button style="float: right; margin: 15px;" (click)='logout()' href="" class="btn btn-primary py-2 px-4"
                *ngIf='isLoggedIn'>{{'Logout' | translate }}</button>

        </form>
    </div>
</nav>