<div *ngIf='isWaiting' id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="p-5 wow fadeInUp"
    style="border:solid; border-width: 2px 2px 2px 0px; border-color: rgb(254, 161 ,22);  height: 1000px; "
    data-wow-delay="0.2s">
    <h1 style="text-align: center;">{{'EMPLOYEE.EMPLOYEELIST.HEADER.List' | translate }}</h1>

    <table class="table table-striped" style="background: white;">

        <tbody>

            <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 8, currentPage:  p } ; let i = index">

                <td colspan="6">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center">

                                        <div style="margin-right:15px;">{{i+1}} </div>
                                        <img *ngIf="employee?.photo != null" class="flex-shrink-0 img-fluid rounded"
                                            style="text-align: center; " id="image_1" [src]="employee.photo"
                                            alt="Employee" height="70px" width="70px" />
                                        <img *ngIf="employee?.photo == null" class="flex-shrink-0 img-fluid rounded"
                                            style="text-align: center;" id="image_2" src="/assets/DefaultContact.png"
                                            alt="Employee" height="70px" width="70px" />

                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <div style="width: 220px;">{{employee.name}} {{employee.surName}} </div>
                                                <div> {{roleType[employee.role] | translate}}</div>
                                                <!--  <div class=" text-primary">
                                                        {{product?.price}}
                                                        <i class="fas fa-coins"></i>
                                                    </div>-->
                                            </h5>

                                            <div class="fst-italic" style="float: right;">
                                                <div style="float: right;">
                                                    <a class="btn btn-square btn-primary mx-1"
                                                        (click)="updateEmployee(employee.id)"><i
                                                            class="fas fa-edit"></i></a>


                                                    <a class="btn btn-square btn-primary mx-1"
                                                        (click)="moreEmployee(employee)" data-bs-toggle="modal"
                                                        data-bs-target="#moreModal"><i class="fas fa-info"></i></a>

                                                    <a class="btn btn-square btn-primary mx-1" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal"
                                                        *ngIf='roleType[employee.role]==roleType[0]'
                                                        (click)="deleteEmployee(employee)"><i
                                                            class="fas fa-trash-alt"></i></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>

    <div style="text-align: center;" *ngIf='employees.length>0'>
        <pagination-controls (pageChange)="p = $event" previousLabel="{{'PAGINATION.Previous' | translate}}"
            nextLabel="{{'PAGINATION.Next' | translate}}">
        </pagination-controls>
    </div>

</div>










<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"> {{'EMPLOYEE.EMPLOYEEMODAL.HEADER.HeaderDelete' |
                    translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <p *ngIf="oneEmployee?.photo != null" style="text-align: center;"> <img
                        style=" display: block; margin-left: auto; margin-right: auto " id="image_1"
                        [src]="oneEmployee.photo" alt="Employee" height="150px" width="150px" /></p>
                <p *ngIf="oneEmployee?.photo == null" style="text-align: center;"> <img
                        style=" display: block; margin-left: auto; margin-right: auto " id="image_2"
                        src="/assets/DefaultContact.png" alt="Employee" height="150px" width="150px" /></p>
                <div> {{'EMPLOYEE.EMPLOYEEMODAL.BODY.Content' | translate }}
                    <p>{{oneEmployee?.surName}} {{oneEmployee?.name}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'EMPLOYEE.EMPLOYEEMODAL.BUTTON_EMPLOYEEMODEL.No' | translate
                    }}</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="idEmployee(idEmployeeForDeleted)">
                    {{'EMPLOYEE.EMPLOYEEMODAL.BUTTON_EMPLOYEEMODEL.Yes' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal More -->
<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLabel" aria-hidden="true"
    style=" margin-top: 60px;">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreModalLabel">{{'EMPLOYEE.EMPLOYEEMODAL.HEADER.HeaderMore' |
                    translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="oneEmployee?.photo != null" style="text-align: center;"> <img id="image_1"
                        [src]="oneEmployee.photo" alt="..." height="250" width="250" /></p>
                <p *ngIf="oneEmployee?.photo == null" style="text-align: center;"> <img id="image_2"
                        src="/assets/DefaultContact.png" alt="..." height="250" width="250" /></p>

                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Role' | translate }}: </b> {{roleType[oneEmployee.role] |
                    translate}}</p>
                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Name' | translate }}: </b>{{oneEmployee?.name}}
                    {{oneEmployee?.surName}}</p>
                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Phone' | translate }}: </b>{{oneEmployee?.phone}}</p>
                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Email' | translate }}: </b>{{oneEmployee?.email}}</p>
                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Address' | translate }}: </b>{{oneEmployee?.address}}</p>
                <p><b>{{'EMPLOYEE.EMPLOYEEMODAL.BODY.Other' | translate }}: </b>{{oneEmployee?.other}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'EMPLOYEE.EMPLOYEEMODAL.BUTTON_EMPLOYEEMODEL.Close' | translate
                    }}</button>
            </div>
        </div>
    </div>
</div>