<div *ngIf='isWaiting' id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="producrForOrder.length<=0" class="p-5 wow fadeInUp minheight"
    style="border:solid; border-width: 2px; margin-top: 48px; text-align: center; border-color: rgb(254, 161 ,22);  height: 200px; "
    data-wow-delay="0.2s">
    <div style="margin-top: 138px; ">
        <h5>{{'ORDER.ORDERADD.INFO.Error' | translate }}</h5>
    </div>
</div>


<div class="container-xxl pt-5 pb-3" *ngIf="producrForOrder.length>0">
    <div class="text-center wow">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">{{storage.getItem('storeName')}}
        </h5>

        <h1 style="text-align: center;">{{'ORDER.HEADER.Header' | translate }}</h1>

    </div>
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex ">


            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h1 class="text-white mb-4">{{'ORDER.ORDERADD.HEADER.Header' | translate }}</h1>

                <form [formGroup]="form" (ngSubmit)="addProduct()">
                    <div class="row g-3">


                        <div class="col-12">
                            <label>{{'ORDER.ORDERADD.HEADER.Product' | translate }}</label>

                            <ng-select [items]="producrForOrder" bindLabel="name" class="form-control"
                                [virtualScroll]="true" formControlName="products" [(ngModel)]="selectedProductId"
                                bindValue="id"></ng-select>
                            <span style="color:red" [hidden]="selectedProductId">{{'ORDER.ORDERADD.SPAN.ProductEmpty'
                                | translate }}</span>
                        </div>



                        <div class="col-12">
                            <label>{{'ORDER.ORDERADD.HEADER.Count' | translate }}</label>

                            <input id="count" type="number" name="count" formControlName="count" class="form-control"
                                placeholder="{{'ORDER.ORDERADD.INPUT_ORDERADD_PLACEHOLDER.Count' | translate}}">

                            <div *ngIf="form.controls['count'].invalid && form.controls['count'].touched">
                                <span class="error-message" *ngIf="form.controls['count'].errors?.['required']">
                                    {{'ORDER.ORDERADD.SPAN.CountEmpty'
                                    | translate }}</span>
                                <span class="error-message" *ngIf="this.form.controls['count'].errors?.['min']">
                                    {{'ORDER.ORDERADD.SPAN.CountMin'
                                    | translate }} </span>
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" style="margin-right: 70px;"
                                [disabled]="form.invalid || form.disabled || !selectedProductId "
                                type="submit">{{'ORDER.ORDERADD.BUTTON_ORDERADD.Save' | translate }}</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>



        <div class="col-md-6">
            <div *ngIf="productsAdd.length>0" class="p-5 wow fadeInUp"
                style="border:solid; border-width: 2px; border-color: rgb(254, 161 ,22);   height: 650px; "
                data-wow-delay="0.2s">

                <table class="table table-striped" style="background: white;">

                    <tbody>

                        <tr
                            *ngFor="let productAdd of productsAdd | paginate: { itemsPerPage: 3, currentPage:  p } ; let i = index">

                            <td colspan="6">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane fade show p-0 active">
                                        <div class="row g-4">
                                            <div class="col-lg-12">
                                                <div class="d-flex align-items-center">

                                                    <div style="margin-right:15px;">{{i+1 + (p == 0? 0 : ((p-1)*2))}}
                                                    </div>

                                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                            <div style="width: 220px;">{{productAdd?.name}}</div>

                                                            <div> {{productUnitType[productAdd.productUnit] |
                                                                translate}}</div>
                                                            <div class=" text-primary">
                                                                {{productAdd?.price}}
                                                                <i class="fas fa-coins"></i>
                                                            </div>
                                                        </h5>

                                                        <div class="fst-italic d-flex justify-content-between"
                                                            style="float: right;">
                                                            <a class="btn btn-square btn-primary mx-1"
                                                                (click)="deleteProduct(productAdd)"><i
                                                                    class="fas fa-trash-alt"></i></a>
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <a class="btn btn-square btn-primary mx-1"
                                                                        (click)="minusProduct(productAdd)"><i
                                                                            class="fas fa-minus"></i></a>
                                                                </div>
                                                                <h5>{{productAdd.count}}</h5>
                                                                <div>
                                                                    <a class="btn btn-square btn-primary mx-1"
                                                                        (click)="plusProduct(productAdd)"><i
                                                                            class="fas fa-plus"></i></a>
                                                                </div>
                                                            </div>

                                                            <h5 class=" mx-1" style="color:rgb(254, 161 ,22); ">
                                                                {{(productAdd.price*productAdd.count).toFixed(2)}} <i
                                                                    class="fas fa-coins"></i></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <div
                            style="float: right !important;  font-size: 1.45rem; font-weight: 800;   font-family: 'Nunito',sans-serif; color:rgb(254, 161 ,22)">

                            {{'ORDER.ORDERADD.HEADERTABLE.Total' | translate }}:
                            {{totalSum}}<i class="fas fa-coins"></i>
                        </div>

                    </tbody>
                </table>




                <div *ngIf='productsAdd.length>0' style="text-align: center;">
                    <pagination-controls (pageChange)="p = $event" previousLabel="{{'PAGINATION.Previous' | translate}}"
                        nextLabel="{{'PAGINATION.Next' | translate}}">
                    </pagination-controls>
                </div>

                <button class="btn btn-primary w-100 py-3" style="margin-right: 70px;" style="margin-bottom: 25px"
                    (click)="addOrder()" type="submit" data-bs-toggle="modal"
                    data-bs-target="#moreModal">{{'ORDER.ORDERADD.BUTTON_ORDERADD.Sell' | translate }}</button>
            </div>

        </div>
    </div>

</div>


<!-- Modal More -->
<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLabel" aria-hidden="true"
    style=" margin-top: 60px;">
    <div class="modal-dialog" style="width: 560px ">
        <div class="modal-content">


            <div class="modal-body">
                <div style="text-align: center;">


                    <div *ngIf='order == "error"'>
                        <p> "{{'ORDER.ORDERMODAL.BODY.MessageError' | translate}}" </p>
                    </div>


                    <div *ngIf='order!="error"'>
                        <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                        <p style="font-size: 20px;"><b>{{order}}</b></p>
                        <p> "{{'ORDER.ORDERMODAL.BODY.MessageOk' | translate}}" </p>
                        <a class="btn btn-primary py-sm-3 px-sm-5 me-3 animated" type="submit" (click)="printChack()"><i
                                class="fas fa-print"></i>
                            {{'ORDER.ORDERMODAL.BODY.Print' | translate }} </a>
                    </div>

                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="Close()"
                    data-bs-dismiss="modal">{{'ORDER.ORDERMODAL.BUTTON_ORDERMODAL.Close' | translate}}</button>
            </div>
        </div>
    </div>
</div>