<!-- <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">

    <div class="row">

        <div>

            <app-header></app-header>

            <div>
                <button (click)="changeSiteLanguage('en')" translate> BUTTON.LANG.EN</button>
                <button (click)="changeSiteLanguage('ru')" translate>BUTTON.LANG.RU</button>
            </div>

            <router-outlet> </router-outlet>

        </div>

        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div> -->




<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <!--   <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>-->

    <app-header></app-header>


    <div>
        <button (click)="changeSiteLanguage('en')" translate> BUTTON.LANG.EN</button>
        <button (click)="changeSiteLanguage('ru')" translate>BUTTON.LANG.RU</button>
    </div>

    <router-outlet> </router-outlet>

</div>

<app-footer></app-footer>