<div *ngIf='isWaiting' id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>



<div class="p-5 wow fadeInUp"
    style="border:solid; margin-top: 48px; border-width: 2px; border-color: rgb(254, 161 ,22);" data-wow-delay="0.2s">
    <div class="text-center wow">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">{{storage.getItem('storeName')}}
        </h5>
        <h1 style="text-align: center;">{{'COMING.HEADER.Header' | translate }}</h1>

    </div>
    <button class="btn btn-primary py-sm-3 px-sm-5 me-3 animated" style="margin-top: 25px; margin-bottom: 25px;"
        type="submit" [routerLink]="['/addcoming']"><i class="fas fa-plus"></i> {{'COMING.COMINGADD.HEADER.Add'
        | translate }}
    </button>


    <a href={{path}} download class="download"> <button class="btn btn-primary py-sm-3 px-sm-5 me-3 animated download"
            (click)="download()" style="margin-bottom: 25px; margin-top: 25px"> <i class="fas fa-download"></i>
            {{'COMING.COMINGADD.HEADER.Download' | translate }} </button></a>


    <a href={{pathAll}} download class="download"> <button
            class="btn btn-primary py-sm-3 px-sm-5 me-3 animated download" (click)="downloadAll()"
            style="margin-bottom: 25px; margin-top: 25px"> <i class="fas fa-download"></i>
            {{'COMING.COMINGADD.HEADER.DownloadAll' | translate }} </button></a>
    <table class="table table-striped" style="background: white;">

        <tbody>

            <tr *ngFor="let coming of comings| paginate: { itemsPerPage: 15, currentPage:  p } ; let i = index">

                <td colspan="6">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center">

                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between  pb-2">
                                                <div style="margin-right:15px;">{{i+1 + (p == 0? 0 : ((p-1)*15))}}
                                                </div>
                                                <div  style="width: 180px;">{{coming.number}}</div>
                                                <div style="width: 220px;">{{coming.provider?.name}}</div>
                                                <div>{{coming.date | date:'dd-MM-yyyy, H:mm:ss'}}</div>
                                                <div class=" text-primary">
                                                    {{ComingTotalPrice(coming).toFixed(2)}}
                                                    <i class="fas fa-coins"></i>
                                                </div>
                                                <div class="fst-italic" style="float: right;">
                                                    <div style="float: right;">



                                                        <a class="btn btn-square btn-primary mx-1"
                                                            (click)="moreComing(coming)" data-bs-toggle="modal"
                                                            data-bs-target="#moreModal"><i class="fas fa-info"></i></a>

                                                        <a class="btn btn-square btn-primary mx-1"
                                                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                            (click)="deleteComing(coming)"><i
                                                                class="fas fa-trash-alt"></i></a>


                                                    </div>
                                                </div>

                                            </h5>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
    <div *ngIf='comings.length>0' style="text-align: center;">
        <pagination-controls (pageChange)="p = $event" previousLabel="{{'PAGINATION.Previous' | translate}}"
            nextLabel="{{'PAGINATION.Next' | translate}}">
        </pagination-controls>
    </div>
</div>


<!-- Modal More -->
<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLabel" aria-hidden="true"
    style=" margin-top: 60px;">
    <div class="modal-dialog" style="width: 560px ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreModalLabel">{{'COMING.COMINGMODAL.HEADER.Number' | translate }}
                    {{oneComing?.number}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div><b>{{'COMING.COMINGMODAL.BODY.Name' | translate }}: </b>{{oneComing?.provider?.name}}</div>
                <div><b>{{'COMING.COMINGMODAL.BODY.Email' | translate }}: </b>{{oneComing?.provider?.email}}</div>
                <div><b>{{'COMING.COMINGMODAL.BODY.Phone' | translate }}: </b>{{oneComing?.provider?.phone}}</div>
                <div><b>{{'COMING.COMINGMODAL.BODY.Other' | translate }}: </b>{{oneComing?.provider?.other}}</div>
                <div><b>{{'COMING.COMINGMODAL.BODY.Date' | translate }}: </b>{{oneComing?.date |
                    date:'dd-MM-yyyy, H:mm:ss'}}</div>

                <h4 style="text-align:center ;">{{'COMING.COMINGMODAL.BODY.List' | translate }}</h4>

                <table class="table table-striped" style="background: white;">
                    <thead>

                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">{{'COMING.COMINGMODAL.HEADERTABLE.Name' | translate }}</th>
                            <th scope="col">{{'COMING.COMINGMODAL.HEADERTABLE.Count' | translate }}</th>
                            <th scope="col">{{'COMING.COMINGMODAL.HEADERTABLE.Price' | translate }}</th>
                            <th scope="col">{{'COMING.COMINGMODAL.HEADERTABLE.Sum' | translate }}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let balanceProduct of oneComing?.balanceProducts; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{balanceProduct?.product?.name }}</td>
                            <td style="text-align: center;">{{balanceProduct?.count}}</td>
                            <td style="text-align: center;">{{balanceProduct?.comingPrice}}</td>
                            <td style="text-align: center;">{{balanceProduct.comingPrice*balanceProduct.count}}</td>
                        </tr>
                    </tbody>
                </table>

                <table *ngIf='totalSum!=0' class="table table-striped rounded-bottom" style="background: white;">
                    <tr style="height: 35px;">
                        <th style="text-align: right">{{'COMING.COMINGMODAL.HEADERTABLE.Total' | translate }}:</th>
                        <th style="text-align: center;">{{totalSum}}</th>
                    </tr>
                </table>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'COMING.COMINGMODAL.BUTTON_COMINGMODAL.Close' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"> {{'COMING.COMINGMODAL.HEADER.HeaderDelete' |
                    translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div> {{'COMING.COMINGMODAL.BODY.Content' | translate }}
                    <div>{{oneComing?.number}} </div>
                    <div>{{oneComing?.date | date:'dd-MM-yyyy, H:mm:ss'}}</div>
                    <p> {{sum}} <i class="fas fa-coins"></i> ?</p>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'COMING.COMINGMODAL.BUTTON_COMINGMODAL.No' | translate }}</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
                    (click)="idComing(idComingForDeleted)">
                    {{'COMING.COMINGMODAL.BUTTON_COMINGMODAL.Yes' | translate }}</button>

            </div>
        </div>
    </div>
</div>