<div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
    <!-- <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>-->
    <h1 class="text-white mb-4">{{'EMPLOYEE.EMPLOYEEADD.HEADER.Header' | translate }}</h1>

    <form [formGroup]="form" (ngSubmit)="addEmployee()">
        <div class="row g-3">

            <div class="col-12">
                <div style="margin-bottom: 10px;">
                    <img *ngIf="image != null" id="image_1" [src]="image" alt="Employee" height="150" />
                    <img *ngIf="image == null" id="image_2" src="/assets/DefaultContact.png" alt="Employee"
                        height="150" />
                </div>
                <button *ngIf="image != null" type="button" class="btn btn-primary" style="padding: 2px;"
                    (click)="deleteImg()">{{'EMPLOYEE.EMPLOYEEADD.BUTTON_EMPLOYEEADD.Delete' | translate }}</button>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Photo' | translate }}</label>

                <input id="file" #file type="file" name="file" (change)="onFileChanged($event)"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Photo' | translate}}"
                    formControlName="file" class="form-control">
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Name' | translate }}</label>

                <input id="name" type="text" name="name" formControlName="name" class="form-control"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Name' | translate}}">

                <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    <span class="error-message" *ngIf="form.controls['name'].errors?.['required']">
                        {{'EMPLOYEE.EMPLOYEEADD.SPAN.NameEmpty'
                        | translate }}</span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Surname' | translate }}</label>

                <input id="surname" type="text" name="surname" formControlName="surname" class="form-control"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Surname' | translate}}">

                <div *ngIf="form.controls['surname'].invalid && form.controls['surname'].touched">
                    <span class="error-message" *ngIf="form.controls['surname'].errors?.['required']">
                        {{'EMPLOYEE.EMPLOYEEADD.SPAN.SurnameEmpty'
                        | translate }}</span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Address' | translate }}</label>

                <input id="address" type="text" name="address" formControlName="address" class="form-control"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Address' | translate}}">

                <div *ngIf="form.controls['address'].invalid && form.controls['address'].touched">
                    <span class="error-message" *ngIf="form.controls['address'].errors?.['required']">
                        {{'EMPLOYEE.EMPLOYEEADD.SPAN.AddressEmpty'
                        | translate }}</span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Email' | translate }}</label>
                <input id="email" type="email"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Email' | translate}}"
                    formControlName="email" class="form-control">
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                    <span class="error-message" *ngIf="form.controls['email'].errors?.['required']">
                        {{'EMPLOYEE.EMPLOYEEADD.SPAN.EmailEmpty'
                        | translate }}</span>
                    <span class="error-message"
                        *ngIf="form.controls['email'].errors?.['email']">{{'EMPLOYEE.EMPLOYEEADD.SPAN.EmailСorrect' |
                        translate }}</span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Phone' | translate }}</label>
                <input formControlName="phone" placeholder="+380 XXX XX-XX-XX" class="form-control"
                    mask=" (000) 000-00-00" prefix="+38" type="tel" [showMaskTyped]="true" style="margin-bottom: 20px;">

                <div style="color:red"
                    *ngIf="this.form.controls['phone'].invalid && this.form.controls['phone'].touched">
                    <span class="error-message" *ngIf="this.form.controls['phone'].errors?.['required']">
                        {{'EMPLOYEE.EMPLOYEEADD.SPAN.PhoneEmpty'
                        | translate }} </span>
                </div>
            </div>

            <div class="col-12">
                <label>{{'EMPLOYEE.EMPLOYEEADD.HEADER.Other' | translate }}</label>
                <textarea id="other" type="text" name="other" formControlName="other" class="form-control"
                    placeholder="{{'EMPLOYEE.EMPLOYEEADD.INPUT_EMPLOYEEADD_PLACEHOLDER.Other' | translate}}"></textarea>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" style="margin-right: 70px;"
                    [disabled]="form.invalid || form.disabled"
                    type="submit">{{'EMPLOYEE.EMPLOYEEADD.BUTTON_EMPLOYEEADD.Save' | translate }}</button>
            </div>
        </div>
    </form>
</div>