<form [formGroup]="form" (ngSubmit)="editProvider()" class="minheight">
    <div class="card shadow p-5 lg-8 bg-white rounded card-gradient textData" style="margin: 20px;">

        <div>
            <h5 class="card-header bg-success rounded-header" style="margin-bottom: 30px; text-align: center;">
                {{'PROVIDER.PROVIDEREDIT.HEADER.Header' | translate }}</h5>


            <div class="marginInput">
                <label>{{'PROVIDER.PROVIDEREDIT.HEADER.Name' | translate }}</label>

                <input id="name" type="text" name="name" formControlName="name" class="form-control"
                    placeholder="{{'PROVIDER.PROVIDEREDIT.INPUT_PROVIDEREDIT_PLACEHOLDER.Name' | translate}}">

                <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    <span class="error-message" *ngIf="form.controls['name'].errors?.['required']">
                        {{'PROVIDER.PROVIDEREDIT.SPAN.NameEmpty'
                        | translate }}</span>
                </div>
            </div>

            <div class="marginInput">
                <label>{{'PROVIDER.PROVIDEREDIT.HEADER.Email' | translate }}</label>
                <input id="email" type="email"
                    placeholder="{{'PROVIDER.PROVIDEREDIT.INPUT_PROVIDEREDIT_PLACEHOLDER.Email' | translate}}"
                    formControlName="email" class="form-control">

                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                    <span class="error-message"
                        *ngIf="form.controls['email'].errors?.['email']">{{'PROVIDER.PROVIDEREDIT.SPAN.EmailСorrect' |
                        translate }}</span>
                </div>
            </div>

            <div class="marginInput">
                <label>{{'PROVIDER.PROVIDEREDIT.HEADER.Phone' | translate }}</label>

                <input formControlName="phone" placeholder="+380 XXX XX-XX-XX" class="form-control"
                    mask=" (000) 000-00-00" prefix="+38" type="tel" [showMaskTyped]="true" style="margin-bottom: 20px;">

                <div style="color:red"
                    *ngIf="this.form.controls['phone'].invalid && this.form.controls['phone'].touched">
                    <span class="error-message" *ngIf="this.form.controls['phone'].errors?.['required']">
                        {{'PROVIDER.PROVIDEREDIT.SPAN.PhoneEmpty'
                        | translate }} </span>
                </div>
            </div>

            <div class="marginInput">
                <label>{{'PROVIDER.PROVIDEREDIT.HEADER.Other' | translate }}</label>
                <textarea id="other" type="text" name="other" formControlName="other" class="form-control"
                    placeholder="{{'PROVIDER.PROVIDEREDIT.INPUT_PROVIDEREDIT_PLACEHOLDER.Other' | translate}}"> </textarea>
            </div>


            <div class="container-buttons">
                <button class="btn btn-success" style="margin-right: 70px;" [disabled]="form.invalid || form.disabled"
                    type="submit">{{'PROVIDER.PROVIDEREDIT.BUTTON_PROVIDEREDIT.Edit' | translate }}</button>
                <button class="btn btn-light" [routerLink]="['/provider']" style="margin-right: 70px;"
                    type="submit">{{'PROVIDER.PROVIDEREDIT.BUTTON_PROVIDEREDIT.Cancel' | translate }}</button>
            </div>


        </div>
    </div>
</form>