<div *ngIf='isWaiting' id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="p-5 wow fadeInUp"
    style="border:solid; border-width: 2px 2px 2px 0px; border-color: rgb(254, 161 ,22);  height: 562px; "
    data-wow-delay="0.2s">
    <h1 style="text-align: center;">{{'PROVIDER.PROVIDERLIST.HEADER.List' | translate }}</h1>

    <table class="table table-striped" style="background: white;">

        <tbody>

            <tr *ngFor="let provider of providers | paginate: { itemsPerPage: 5, currentPage:  p } ; let i = index">

                <td colspan="6">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center">

                                        <div style="margin-right:15px;">{{i+1}} </div>
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between  pb-2">
                                                <div>{{provider?.name}}</div>

                                                
                                                <div class="fst-italic" style="float: right;">
                                                <div style="float: right;">
                                                    <a class="btn btn-square btn-primary mx-1"
                                                        (click)="updateProvider(provider.id)"><i
                                                            class="fas fa-edit"></i></a>

                                                    <a class="btn btn-square btn-primary mx-1"
                                                        (click)="moreProvider(provider)" data-bs-toggle="modal"
                                                        data-bs-target="#moreModal"><i class="fas fa-info"></i></a>

                                                    <a class="btn btn-square btn-primary mx-1" data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal"
                                                        (click)="deleteProvider(provider)"><i
                                                            class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                            </h5>
                                            



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>

    <div style="text-align: center;" *ngIf='providers.length>0'>
        <pagination-controls (pageChange)="p = $event" previousLabel="{{'PAGINATION.Previous' | translate}}"
            nextLabel="{{'PAGINATION.Next' | translate}}">
        </pagination-controls>
    </div>

</div>


<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"> {{'PROVIDER.PROVIDERMODAL.HEADER.HeaderDelete' |
                    translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:center;">

                <div> {{'PROVIDER.PROVIDERMODAL.BODY.Content' | translate }}
                    <p>{{oneProvider.name}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'PROVIDER.PROVIDERMODAL.BUTTON_PROVIDERMODAL.No' | translate }}</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="idProvider(idProviderForDeleted)">
                    {{'PROVIDER.PROVIDERMODAL.BUTTON_PROVIDERMODAL.Yes' | translate }}</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal More -->
<div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLabel" aria-hidden="true"
    style=" margin-top: 60px;">
    <div class="modal-dialog" style="width: 560px ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreModalLabel">{{'PROVIDER.PROVIDERMODAL.HEADER.HeaderMore' | translate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p><b>{{'PROVIDER.PROVIDERMODAL.BODY.Name' | translate }}: </b>{{oneProvider.name}}</p>
                <p><b>{{'PROVIDER.PROVIDERMODAL.BODY.Phone' | translate }}: </b>{{oneProvider.phone}}</p>
                <p><b>{{'PROVIDER.PROVIDERMODAL.BODY.Email' | translate }}: </b>{{oneProvider.email}}</p>
                <p><b>{{'PROVIDER.PROVIDERMODAL.BODY.Other' | translate }}: </b>{{oneProvider.other}}</p>

                <div *ngIf="comingsProvider.length!= 0" comingsProvider>
                    <h4 style="text-align:center ;">{{'PROVIDER.PROVIDERMODAL.BODY.List' | translate }}</h4>

                    <table class="table table-striped" style="background: white;">
                        <thead>

                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">{{'PROVIDER.PROVIDERMODAL.BODY.Number' | translate }}</th>
                                <th scope="col">{{'PROVIDER.PROVIDERMODAL.BODY.Date' | translate }}</th>
                                <th scope="col">{{'PROVIDER.PROVIDERMODAL.BODY.Sum' | translate }}</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let comingProvider of comingsProvider; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{comingProvider.number }}</td>
                                <td>{{comingProvider.date | date:'dd-MM-yyyy, H:mm:ss' }}</td>
                                <td>{{summCalculate(comingProvider)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">{{'PROVIDER.PROVIDERMODAL.BUTTON_PROVIDERMODAL.Close' | translate
                    }}</button>
            </div>
        </div>
    </div>
</div>